# requirements.txt
pymysql

mysqlclient
django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
qrcode[pil]
Pillow

- name: Install dependencies
  run: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
