<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
  <div class="landing-container">
  <div class="landing-box">
    <h2>Welcome to the Campus Events & <br> Ticketing  Web Application</h2>
    <div class="landing-buttons">
      <button id="studentBtn">Log in as Student</button>
      <button id="organizerBtn">Log in as Organizer</button>
      <button id="adminBtn">Log in as Admin</button>
    </div>
  </div>
  <a href="#" class="signup-link">Sign Up →</a> <!-- connect this to the general sign up page -->
</div>

  <script src="login.js"></script>
</body>
</html>

